// Put the desired microphone's friendly name here.
// Audio mixers usually display these, but if unsure, the ptt application will show a list on startup.
mic = "Blue Snowball";

// A hotkey or chord (refer to list of XKB names) which will toggle this mic on when pressed, and off when released.
// I personally recommend unbinding PrtSc on your compositor and using that, if using a ThinkPad with the modern keyboard.
keyboard_keys = [ "Print", "K" ];

// Which mouse buttons to enable for PTT. Not a chord, just integers from 1 to 5 corresponding to extra mouse buttons.
// (Does not include left/right/middle mouse since that would be ridiculous.)
mouse_buttons = [ 1, 2, 3, 4, 5 ];
